@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>О разработке приложений и сайтов на ASP.NET Core <a href="https://docs.microsoft.com/aspnet/core">вот здесь</a>. Но я пишу на .NET 5 :D</p>
</div>
