@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="border background-white">
    <div class="text-center text-info">
        <h1 class="display-4">Hello!</h1>
        <p>This is service application</p>
    </div>
</div>
